/*
 * Content
 */
.link-add{
	margin-bottom: 30px;
}

.logo{
	font-family: 'Hanalei Fill', cursive;
}

/* -- form add product -- */
.form-producto{
	margin-top: 40px;
}

/*
 * Login Style
 */
.body-login{
	background: lightblue url("../img/Background-login.jpg") no-repeat fixed center; 
	background-size: cover;

	.container{
		border: 1px solid silver;
		border-radius: 10px;
		max-width: 500px;
		width: 430px;
		margin-top: 70px;
		background-color: #f5f6f8;
		padding-bottom: 25px;

		h2{
			text-align: center;
		}
		.password{
			margin-top:15px;
		}
	}
}

/*
 * Media Query
 */

/* login style */
@media (max-width: 375px){
	
	.body-login{
		.container{
			width: 300px;
			padding-bottom: 17px;

			h2{
				font-size: 1.8em;
			}
			input[type="text"], input[type="password"]{
				width: 240px;
				height: 30px;
			}
			button{
				font-size: 1.1em;
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}
}