/* -- Content -- */
.link-add{
	margin-bottom: 30px;
}

.logo{
	font-family: 'Hanalei Fill', cursive;
}


/* -- form add product -- */
.form-producto{
	margin-top: 40px;
}

/* -- login style-- */
.body-login{
	background: lightblue url("../img/Background-login.jpg") no-repeat fixed center; 
	background-size: cover;

	.container{
		border: 1px solid silver;
		border-radius: 10px;
		max-width: 500px;
		width: 430px;
		margin-top: 70px;
		background-color: #f5f6f8;
		padding-bottom: 35px;

		h2{
			text-align: center;
			margin-bottom: 20px;
		}
		.password{
			margin-top:15px;
		}
	}
}
